{% extends "base.html" %}

{% block title%}
{{title}}
{% endblock %}

{% block content %}
{% load staticfiles %}

<body class="form-body">
  <form class="am-form am-form-horizontal am-g" action="api/createID" method="post">
    {% csrf_token %}
    <fieldset>
      <legend>Create Task</legend>
      <div class="am-form-group am-form-feedback am-form-warning" >
        <label for="login-input" class="am-u-sm-4 am-form-label">username</label>
        <div class="am-u-sm-4 am-u-sm-uncentered">
          <input id="login-input" name="login" type="text" class="am-form-field"  placeholder="@" />
        </div>
      </div>

      <div id="password-input-div" class="am-form-group am-form-feedback am-form-warning" >
        <label for="password-input" class="am-u-sm-4 am-form-label">password</label>
        <div class="am-u-sm-4  am-u-sm-uncentered">
          <input id="password-input" name="password" type="password" class="am-form-field"  placeholder="********" />
        </div>
      </div>

      <div class="am-form-group">
        <div class="am-u-sm-10 am-u-sm-offset-4">
          <button type="submit" class="am-btn am-btn am-btn-primary">Create</button>
        </div>
      </div>
    <fieldset>
  </form>
</body>

{% endblock %}
