<header class="am-topbar am-topbar-inverse">
  <h1 class="am-topbar-brand">
    <a href="#">Auto Sign</a>
  </h1>

  <button class="am-topbar-btn am-topbar-toggle am-btn am-btn-sm am-btn-success am-show-sm-only" data-am-collapse="{target: '#doc-topbar-collapse'}"><span class="am-sr-only">导航切换</span> <span class="am-icon-bars"></span></button>

  <div class="am-collapse am-topbar-collapse" id="doc-topbar-collapse">
    <ul class="am-nav am-nav-pills am-topbar-nav">
      <li class="{{ index_class}}"><a href="index">index</a></li>
      <li class="{{ create_class }}"><a href="create">create</a></li>
      <li class="{{ submit_class }}"><a href="submit">submit scripts</a></li>
    </ul>
    <div class="am-topbar-right">
      <button class="am-btn am-btn-primary am-topbar-btn am-btn-sm"><a href="api/logout">Logout</a></button>
    </div>
  </div>
</header>
